body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.element {
  font-size: 70px;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://cdn.pixabay.com/photo/2021/11/13/23/06/tree-6792528_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
